SparkWebsiteHome.css

.All {
	border:3px;
	border-color: black;
}

.Header {
	font:Times, serif;
	font-color: black;
}

.Title {
	font-size: 25em;
	font: Times, serif;
}

.Navbar {
	font-size:15em;
	display: inline-block;
}



























































